/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* common styles */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* header styles */
header {
    display: flex;
    color: white;
    background-color: #000000;
    margin: 50px 10% 100px;
    border-radius: 20px;

}

.half-width {
    width: 50%;
    padding: 2% 5% 0;
}

/* heder text styles */
.header-text {
    padding: 5% 5% 0 5%;
}

.header-text h1 {
    font-size: 3.5vw;

}

.header-text p {
    padding: 5% 0;
    font-size: 1vw;

}

/* watch live button styles */
.live-button {
    padding: 3% 5%;
    border-radius: 8px;
    color: white;
    font-weight: 700;
    background-color: red;
}

/* header image styles */
.half-width img {
    width: 100%;
}

/* margin main element */
main {
    margin: 50px 10%;
}

/* all link button background style */
.link-button {
    border-radius: 10px;
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    margin-right: 4%;
}

/* all kink button style */
.link-button a {
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 10px;
    color: black;
    font-weight: 700;
    background-color: white;
    margin: 20px 20px;
    text-align: center;
}

#link-button-color {
    color: white;
    background-color: red;
}

/* main display flex */
main {
    display: flex;
}

/* image width */
.blog img {
    width: 100%;
}

/* transfer button style */
.transfer-button {
    border: 1px solid rgb(68, 58, 58);
    padding: 1% 3%;
    border-radius: 3px;
    margin: 3% 0;
}

/* item style */
.item {
    width: 75%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 5%;
}


/* blog text style */
.blog-text {
    padding: 0 5%;
}

.blog h4 {

    padding: 3% 0;
}

.blog-text img {
    width: 5%;
}

/* icon image style */
.icon {
    margin: 5%;
}

/* article style */
article {
    border: 1px solid rgb(221, 221, 221);
    padding-bottom: 10%;
}

/* footer style */
footer {
    padding: 5% 10%;
    margin-top: 150px;
    background-color: black;
    color: white;
    text-align: center;
}

footer h2 {
    padding: 0 0 5% 0;
}

footer p {
    padding: 5% 0 0;
}

footer a {
    text-decoration: none;
    color: rgb(104, 104, 104);
    padding-left: 5%;
}

.social-media img {
    width: 7%;
}

.view-button {
    display: none;
}

/* smaller device */
@media screen and (max-width: 576px) {

    /* header style */
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 5% 0px;

    }

    .header-text h1 {
        font-size: 15px;
    }

    .header-text p {
        font-size: 10px;
    }

    .header-text {
        padding: 5% 5% 0 5%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .hide-text {
        display: none;
    }

    /* main style */
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .link-button {
        border-radius: 10px;
        background-color: white;

    }

    .link-button a {
        border: 1px solid rgb(94, 93, 93);
        padding: 15px 2px;
        margin: 15px 10px;
        text-align: center;

    }


    .item {
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        gap: .5%;
        padding: 2%;
    }

    /* footer style */
    .policy {
        display: flex;
        flex-direction: column;
        padding-left: 0%;
        padding-bottom: 10%;
    }

    .view-button {
        display: none;
    }

}

/* medium device */
@media screen and (min-width: 577px) and (max-width: 992px) {
    header {
        margin: 50px 10% 0px;
    }

    .link-button {
        background-color: white;
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
        padding-left: 5%;
    }

    .link-button a {
        padding: 15px 5%;
        border-radius: 10px;
        border: 0.5px solid rgb(213, 213, 213);
        color: black;
        font-weight: 700;
        background-color: white;
        margin: 0px 20px 20px;
    }


    main {
        display: flex;
        flex-direction: column;
    }

    .item {
        width: 100%;
        display: grid;
        grid-template-columns: 48% 48%;
        gap: 2% 4%;
    }

    .hide-article {
        display: none;
    }

    .view-button {
        display: list-item;
        padding: 1% 5%;
        border-radius: 4px;
        color: white;
        font-weight: 700;
        background-color: red;
        margin: 150px 45% 0;
    }


}